<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Streaming</title>
    <style>
        body {            
            align-items: center;
        }

        h1{
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Live Streaming</h1>
    <div>
        <img src="{{ url_for('video') }}" width="50%">
    </div>
</body>
</html>